@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Slab:wght@100&family=Ubuntu:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section{
  background-color: #afbcbb;

}

#sobre-nosotros1 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  color: #12394f;
}

.nosotros-img{
  text-align: center;
}

.foto-montaña1 {
  height: 30rem;
  border-radius: 2rem;
}

.nosotros-descripcion, .parte-equipo {
  text-align: center;
  margin-left: 20rem;
  margin-right: 22rem;
  margin-top: 2rem;

}

.equipo-titulo{
  color: #12394f;
  padding: 1rem;
}

h3{
  font-family: "Montserrat", sans-serif;
  padding: 4%;
  font-size: 1.8rem;
  text-align: center;
}

.miembros{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.equipo-miembro{
  margin: 2rem;
  transition: all .3s ease;
  cursor: pointer;
}

.equipo-miembro:hover{
  transform: scale(1.1);
}

.equipo-centrado {
  text-align: center;
}

.equipo-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;
}

.nombre {
  text-align: center;
  margin: 1.2rem;
  font-family: "Monserrat", sans-serif;
}

.lorem{
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  border: 3px solid #506e55;
  border-radius: 2rem;
  margin: 2rem;
  background-color: white;
}

.historia-texto{
  display: flex;
}
.instrucciones-equipo{
  padding: 2rem;
}

.instrucciones{
  margin-left: 22rem;
  margin-right: 22rem;
  margin-top: 1.2rem;
}

.texto{
  font-size: 1.2rem;
}

.boton-contactanos{
  text-align: center;
  padding: 2rem;
}

button {
  color: white;
  background-color: #009e93;
  border-radius: 0.2rem;
  border: 0.1rem solid #009e93;
  padding: 0.9rem;
  font-size: 1rem;
}

button:hover{
  font-size: 1.05rem;
  cursor: pointer;
}

/* animación para h1 */

#sobre-nosotros1 {
  animation-name: movimiento;
  animation-duration: 1.5s;
  animation-timing-function: ease;
}
 
@keyframes movimiento {
  0% {
    letter-spacing: -10px;
}

20% {
    letter-spacing: 20px;
}

100% {
    letter-spacing: 0px;
} 
  }

/* fin de la animación en h1*/

/* Responsive tablet */
@media screen and (min-width: 481px) and (max-width: 768px){
  .nosotros-descripcion, .parte-equipo {
    margin-left: 5rem;
    margin-right: 7rem;
    margin-bottom: 2rem;
}
  .foto-montaña1 {
    width: 75%;
  }
  .historia-texto {
    width: 85%;
    flex-direction: column;
    margin-left: 10%;
  }

  .texto {
    font-size: 0.9rem;
  }

  .lorem {
    font-size: 0.9rem;
  }

  .instrucciones{
    margin-left: 4rem;
    margin-right: 2rem;
    margin-top: 0.9rem;
  }
  }


/* Responsive mobile */

@media screen and (max-width: 480px){
  .foto-montaña1 {
    width: 69%;
    height: 70%;
  }
  .nosotros-descripcion, .parte-equipo {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
}
.historia-texto {
  width: 75%;
  flex-direction: column;
  margin-left: 10%;
}
.texto {
  font-size: 0.9rem;
}

.lorem {
  font-size: 0.9rem;
}

.instrucciones{
  margin-left: 4rem;
  margin-right: 2rem;
  margin-top: 0.9rem;
}
}