#caja11 {
  background-color: #afbcbb;
  height: 65rem;
}
#sobre-nosotros1 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  color: #12394f;
}

.foto-montaña1 {
  height: 30rem;
  margin-left: 12rem ;
  margin-top: 0rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
}
#lorem {
  padding-top: 0.5rem;
  padding-bottom: 4rem;
  margin-left: 14rem;
  margin-right: 10rem;
}
#ulfotos {
  list-style-type: none;
  display: inline;

 
}

.imagen1 {
  height: 8rem;
  width: 8rem;
  border-radius: 10rem;
  margin-left: 5rem;
}


#Yorlin {
  
  padding-left: 8rem;
  margin-bottom: -1rem;
}
#Jessica {
  padding-left: 20rem;
  margin-bottom: -1rem;
}
#Maria {
  padding-left: 34rem;
  margin-bottom: -1.5rem;
}
#Mohamed {
  padding-left: 47rem;
   margin-bottom: -1.5rem;
}
#Xabier {
  padding-left: 61rem;
}
