@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Slab:wght@100&family=Ubuntu:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.general{
  background-color: #afbcbb;
}

#sobre-nosotros1 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  color: #12394f;
}

.nosotros-img{
  text-align: center;
}

.foto-montaña1 {
  height: 30rem;
  border-radius: 2rem;
}

.nosotros-descripcion {
  text-align: center;
  margin-left: 20rem;
  margin-right: 22rem;
  margin-top: 2rem;

}

.equipo-titulo{
  color: #12394f;
  margin: 1rem;
  padding: 20px;
  border-radius: 15px;
}

h3{
  font-family: "Montserrat", sans-serif;
  padding: 4%;
  font-size: 1.8rem;
  text-align: center;
}


.miembros{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.equipo-miembro{
  margin: 8px;
  transition: all .3s ease;
  cursor: pointer;
}

.equipo-miembro:hover{
  transform: scale(1.1);
}

.equipo-centrado {
  text-align: center;
}

.equipo-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;
}

h4{
  text-align: center;
  margin: 1.2rem;
  font-family: "Monserrat", sans-serif;
}


