@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Slab:wght@100&family=Ubuntu:wght@700&display=swap');

* {
    margin: 0;
}
section {
    background-color: #afbcbb;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 4rem;

}

h3 {
    font-family: "Montserrat", sans-serif;
    padding: 5%;
    font-size: 1.8rem;
}

.ours-activities {
    text-align: center;
    padding: 2rem;
    color: #12394f;
}

.path-title{
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}

.level-path {
    margin: 2rem;
    width: 20%;
}

.path-colective {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.path-individual {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.imagen {
    width: 90%;
    height: 90%;
    text-align: center;
    position: relative;
    outline: 2px solid #84aab7;
    outline-offset: -1rem;
    overflow: hidden;
    isolation: isolate;
}

.imagen_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.25s;
    z-index: -1;
}

.imagen:hover .imagen_img {
    transform: scale(1.5);
} 


img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    text-align: center;
}

p {
    padding: 1rem 3rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}


.family, .group, .extrem {
    margin: 2rem;
}

.etapa_montana{
    text-align: center;
}

i {
   color: #548bb0;
   padding: 2.5%;
}

.details {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.imagen_ruta{
    width: 70%;
    height: 70%;
}



/* .fa-map-location:before, .fa-map-marked:before {
    content: "\f5a0";
    border: 0.5rem solid black;
    border-radius: 20%;
    padding: 10%;
} */