@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Slab:wght@100&family=Ubuntu:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body{
    background: rgb(251,251,251);
    background: linear-gradient(0deg, rgba(251,251,251,1) 0%, rgba(132,170,183,0.3) 0%);
}
/* --------------------------------------------- */
.section_titulo {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  margin: 4rem 0;
}
.titulo_blog {
  color: #12394f;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 3rem;
}
.fecha{
    color: #12394f; 
}

.image1 {
  width: 12rem;
  height: 12rem;
  background: url(./image/blog/ciclismo_noveades.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.image2 {
  width: 12rem;
  height: 12rem;
  background: url(./image/blog/ciclismo_ruta.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.image3 {
  width: 12rem;
  height: 12rem;
  background: url(./image/blog/ciclismo_montana.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}


/* animación para h1 */

.titulo_blog{
  animation-name: movimiento;
  animation-duration: 1.5s;
  animation-timing-function: ease;
}
 
@keyframes movimiento {
  0% {
    letter-spacing: -10px;
}

20% {
    letter-spacing: 20px;
}

100% {
    letter-spacing: 0px;
} 
  }

/* fin de la animación en h1*/