@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor-total {
  background-color: #afbcbb;
}

.parrafo-introduccion {
  /* font-family: "Bebas Neue", sans-serif; */
  /* text-align: left;
  line-height: 2.5rem;
  padding: 2rem;  */
  padding: 2.5rem;
  line-height: 2.5rem;
}


.parrafoh1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  text-align: center;
  padding: 1.75;
  color: #12394f;
}
.imagenFondoconFormulario {
  position: relative; 
  margin: 0 auto;
}
.contenedor {
    width: 27rem;
    padding: 2rem;
    position: absolute;
    z-index: 1; 
    top: 4.2rem;
    left: 0;
    right: 0rem;
    margin: 0 auto;
    
  }
  
  /* #container-formulario{
    padding-top: 3.9rem;
  } */
  .envelope {
    text-align: center;
    position: relative;     
  }
  .envelope img {
    width: 45rem;
    height: 40rem;
  }
  
  #parrafo-option {
    margin-bottom: 1rem;
    text-align: left;
    font-size: 0.9rem;
  }

  #parrafo-fecha {
    margin: 1.05rem auto;
    text-align: left;
    font-size: 0.9rem;
  }

  .etiqueta {
    margin-top: 1.3rem;
  } 
  input:focus, textarea:focus {
    outline: none;
    border-bottom: 1px solid #272626;
  }
  input:hover, textarea:hover, select:hover{
    background: rgb(236, 232, 232);
  }
  
  input::placeholder, textarea::placeholder {
    color: rgb(31, 28, 28);
    font-size: 1.01;
  } 

  input, textarea {
    color: black;
    font-size: 1.01rem;
  }
  
  select {
    color: rgb(17, 16, 16);
    background: #ddd;
    opacity: 0.5;
    padding: 0.35rem;
  }
  
  .input-formulario {
    padding: 0.4rem;
    background: #ddd;
    opacity: 0.5;
    border: none;
    border-bottom: 1px solid #c2c2c2;
    width: 100%;
  }
  
  textarea {
    resize: none;
  }

  .parrafo-proteccionDatos {
    display: grid;
    grid-template-columns: auto;
    width: 43rem;
    padding: 2rem;
    margin: 0 auto;
    font-size: 0.70rem;
    line-height: 1.3rem;
  }
  .condiciones-legales {
    margin-top: 1rem;
    font-size: 0.9rem;
  }

  .boton-envio {
    color: white;
    background-color: #009e93;
    border-radius: 0.2rem;
    border: 0.1rem solid #009e93;
    padding: 0.9rem;
    font-size: 1rem;
  }
  .boton-envio:hover {
    font-size: 1.05rem;
    cursor: pointer;
  }

  /* .formulario {
    padding-top: 7rem;
  } */

    /* Responsive tablet */

    @media screen and (min-width: 481px) and (max-width: 768px){
  .envelope img {
    width: 100%;
    
  }

  .contenedor {
    width: 45%;
  }
#container-formulario {
  padding: 1rem;
}
  input::placeholder, textarea::placeholder {
    color: black;
    font-size: 0.8;
  } 

  input, textarea {
    color: black;
    font-size: 0.8rem;
  }

  .parrafo-proteccionDatos {
    width: 35rem;
    margin: 0 auto; 
    font-size: 0.70rem;
  }

} 


/* Responsive mobile */

  @media screen and (max-width: 480px) {
    .envelope {
      display: none;
    }

    .div-fondoDatos {
      margin-top: 28rem;
    }

      .formulario {
      background-color: white;
      padding: 1rem;
    }
    .parrafo-proteccionDatos {
      padding: 1.8rem;
      width: 25rem;
      margin: 0 auto; 
      font-size: 0.63rem;
      padding-top: 15rem;
    }

    .parrafo-introduccion {
      margin-bottom: -5rem;
    } 
  }

