@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Slab:wght@100&family=Ubuntu:wght@700&display=swap');

*{
    margin: 0;
   
}
.primero{
    background-color: #afbcbb;
}
.primero img{
    width: 40%;
    height: 40%;
    margin: 4rem;
    margin-left: 7rem;


}
h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 4rem;
}

h3{
    font-family: "Montserrat", sans-serif;
    padding: 5%;
    font-size: 1.4rem;
   
}

.equipamiento{
    text-align: center;
    padding: 2rem;
    color: #12394f;

}

.primero .segondo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    
    
    
}

.primero .segondo .tercero{
    width: 20rem;
    height: 15rem;
}

p {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
