@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Slab:wght@100&family=Ubuntu:wght@700&display=swap');

*{
   margin: 0;
   padding: 0;
   font-family: "Montserrat", sans-serif;
   font-weight: 800;
}

.primero{
    background-color: #afbcbb;
    width: 100%;
    
}


h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 4rem;
}
.equipamiento{
    text-align: center;
    padding: 2rem;
    color: #12394f;

}

h3{
    font-family: "Montserrat", sans-serif;
    padding: 2.5rem;
    font-size: 1.4rem;   
}

.segondo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 95%;
    height: 20rem;    
}

.segondo-img{
    width: 30%;
    height: 70%;
    position: relative;
    outline-offset: -1rem;
    overflow: hidden;
    isolation: isolate;
    margin: 5rem;
    background-color: #afbcbb;
    box-shadow: 0 0 4rem #506e55;
    border-radius: 3rem;
    overflow: visible;
}


.imagen_img {
    width: 95%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.25s;
    z-index: -1;
    border: double 0.5rem #506e55;
    border-radius: 30%;  
}

.segondo-img:hover .imagen_img {
    transform: scale(1.5);
}

img {
    object-fit: scale-down;
    width: 90%;
    height: 110%;
    text-align: center;
}

.tercero{
    background-color: #afbcbb;
    box-shadow: 0 0 4rem #506e55;
    border-radius: 3rem;

}

.parrafo{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding-left: 5rem;
    padding-right: 3rem;
    margin-bottom: 2.5rem;    
}

/* Responsive tablet */
@media screen and (min-width: 481px) and (max-width: 1023px){
    .primero{
        width: 100%;
        height: 100%;
      }
      .segondo{
        display: flex;
        flex-direction: column;
        height: 100%;
     }
     .segondo-img {
        overflow:visible;
        width: 30%;   
    }
    .tercero {
        width:65%;
       margin-bottom: 1rem;
        padding-right: 1rem;   
       }
       .tercero p {
        font-size: 0.9rem;
        text-align: center;
       }

}


/* Responsive mobile */

@media screen and (max-width: 480px){
    .primero{
      width: 100%;
      height: 100%;
    }
    .segondo{
       display: flex;
       flex-direction: column;
       height: 100%;
    }
    .segondo-img {
        overflow:visible;   
    }
    .tercero {
     width:85%;
    margin-bottom: 2rem;
     padding-right: 1rem;   
    }
    .tercero p {
    font-size: 0.9rem;
    text-align: center;
   }
}


     

    










