@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Slab:wght@100&family=Ubuntu:wght@700&display=swap');

*{
    margin: 0;
    
   
}
.primero{
    background-color: #afbcbb;
    
}

.segondo-img{
    width: 30%;
    height: 70%;
    text-align: center;
    position: relative;
    outline-offset: -1rem;
    overflow: hidden;
    isolation: isolate;
    margin: 7rem;
    background-color: #afbcbb;
    box-shadow: 0 0 4rem #506e55;
    border-radius: 3rem;

}

.imagen_img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.25s;
    z-index: -1;
    border: double 0.5rem #506e55;
    border-radius: 30%;
    
    
}

.segondo-img:hover .imagen_img {
    transform: scale(1.5);
   
}


img {
    object-fit: scale-down;
    width: 90%;
    height: 90%;
    text-align: center;
}



h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 4rem;
}

h3{
    font-family: "Montserrat", sans-serif;
    padding: 1rem;
    font-size: 1.4rem;
    margin-top: 2rem;
   
   
}

.equipamiento{
    text-align: center;
    padding: 2rem;
    color: #12394f;

}

.primero .segondo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    
    
    
}

.primero .segondo .tercero{
    width: 20rem;
    height: 15rem;
    
}

p {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding-left: 5rem;
    padding-right: 1rem;
    
}
.tercero{
    flex: content;
    background-color: #afbcbb;
    box-shadow: 0 0 4rem #506e55;
    border-radius: 3rem;

}
.segondo{
    width: 95%;
    height: 20rem;

}

@media screen and (max-width: 300px){

}


