@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Slab:wght@100&family=Ubuntu:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* -------------------EStilos barra del menu------------------------- */

.barra_menu {
  background: #12394f;
  display: flex;
  /* justify-content: space-between; */
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
  padding: 2rem 10%;
}

.logo {
  margin-right: auto;
}

.comonbike {
  color: #fff;
  font-size: 2rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  letter-spacing: .2rem;
}

.comonbike:hover {
  transform: scale(1.2);
}

.nav-links {
  list-style: none;
  transition: all 0.3s;
}

.items_menu {
  display: inline-block;
  padding: 0 2rem;
}

.items_menu:hover {
  transform: scale(1.1);
}

.enlace_menu {
  color: #fff;
  text-decoration: none;
  font-weight: 500; 
}

.btn button {
  margin-left: 20px;
  font-weight: 800;
  color: #3c3c3c;
  background: #fff;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}

.btn button:hover {
  transform: scale(1.1);
}

/* -------------------EStilos barra del menu------------------------- */
.informacion_home{
    height: 70vh;
    display: flex;
    justify-content: center;
    background: url(./img/bike.png);
    background-position: center;
}

.parrafo_banner{
    position: absolute;
    font-size: 6rem;
    font-weight: 800;
    font-family: "Bebas Neue", sans-serif;
    color: #fff;
    text-align: center;
    top: 25%;
    letter-spacing: .4rem;
   
}
/* ----------------------separacion---------------------- */
.separacion{
  width: 100%;
  background: rgb(251,251,251);
  background: linear-gradient(0deg, rgba(251,251,251,0.5578606442577031) 0%, rgba(23,23,25,0.2665441176470589) 100%);
  height: 3rem;
}
.separacion2{
  width: 100%;
  background: #12394f;
  opacity: .1;
  height: 5rem;
}


/* -------------------------- imagen texto ------------------- */
.feature-list {
  display: flex;

  /* OPTIONAL: Spacing between items */
  margin: 4rem 19rem;
  padding: 1rem;
  border-radius: 15px;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.008),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.012),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.015),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.018),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.022),
  100px 100px 80px rgba(0, 0, 0, 0.03)
;



}

/*  Invertir el orden de la imagen y el contenido */
.feature-list--reverse {
  flex-direction: row-reverse;
}

.feature-list__image {
  width: 12rem;
  height: 12rem;
  background: url(./img/pic_about.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.feature-list__desc {
  /* Take the remaining width */
  flex: 1;
  margin: 0 1.5rem;
}
.feature-list__desc h1{
  color:#12394f;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: .1rem;
}
.feature-list__desc p{
  text-align: justify;
}


/* ----------------------contenido con las tarjetas---------------------- */
.contenido{
  width: 100%;
  height: 70vh;
  background: #fbfbfb;
}
.contenido_padre{
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.contenido_hijo{
  margin-top: 4rem;
  width: 18rem;
  height: 18rem;
  /* border: 1px solid #506e55; */
  border-radius: 15%;
  filter: brightness(30%);
  transition: all 1s;
  cursor: pointer;
  /* ----------- */
  box-shadow:
  6.6px 2.8px 2.2px rgba(0, 0, 0, 0.008),
  15.8px 6.7px 5.3px rgba(0, 0, 0, 0.012),
  29.8px 12.5px 10px rgba(0, 0, 0, 0.015),
  53.2px 22.3px 17.9px rgba(0, 0, 0, 0.018),
  99.4px 41.8px 33.4px rgba(0, 0, 0, 0.022),
  238px 100px 80px rgba(0, 0, 0, 0.03)
;

}
.contenido_hijo:hover{
  filter: brightness(100%);
}

.contenido_padre-card{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.texto-card{
  /* border: 1px solid black; */
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: .2rem;
  font-size: 1.7rem;
  text-align: center;
  font-weight: 800;
  position: absolute;
  top: 17rem;
}



.hijo1{
  background: url(./img/acerca.jpg);
  background-size: cover;
  background-position: center;
}
.hijo2{
  background: url(./img/actividades.jpg);
  background-size: cover;
  background-position: center;
}
.hijo3{
  background: url(./img/equipamiento.jpg);
  background-size: cover;
  background-position: center;
}













/* --------------------- Estilos footer----------------------- */
.footer_contenedor {
  width: 100%;
  height: 7rem;
  background: #12394f;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.item_footer {
  width: 25rem;
  /* width: calc(100%/3); */
  /* border: 1px solid #fff; */
  color: #fff;
  text-align: center;
  padding-top: 2rem;
}

.enlace_footer {
  font-size: 800;
  color: #fff;
  text-decoration: none;
}

.fa-brands {
  padding-top: 2rem;
  margin-left: 1rem;
  font-size: 2rem;
}

.fa-brands:hover {
  transform: scale(1.2);
}

.parrafo_footer {
  font-size: 1rem;
  text-align: center;
  color: #fff;
}
